*{
    background-color: rgb(217, 255, 222);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 99%;
    text-align: center;
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
}

header nav{
    margin-left: 2px;
    border: 1px solid black;
}

nav{
    background-color: whitesmoke;
}

nav ul{
    background-color: whitesmoke;
}

nav ul a{
    background-color: whitesmoke;
}

nav ul a{
    margin: 130px;
    color: rgb(8, 53, 8);
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}

footer {
    width: 99%;
    text-align: center;
    position: fixed;
    bottom: 0; 
 }

footer nav{
    margin-left: 2px;
    border: 1px solid black;
}

.clear { clear: both; height: 120px; }