body{
    position: relative;
}

h3{
    text-align: center;
}

p{
    text-align: justify;
}

aside{
    float: left;
    width: 18rem;
    margin-left: 1rem;
    text-align: justify;
}

section{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-content: space-between;
    margin-left: 3rem;
}

article{
    margin: 5rem;
    width: 30%;
}

img{
    width: 250px;
    height: 250px;
    margin: auto;
    display: block
}

a{
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: rgb(8, 53, 8);
}

a:hover{
    color: rgb(165, 204, 143);
}

article a{
    text-align:center;
    display: block; 
}
article ul{
    text-align:center;
    display: block;
}